video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -56;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -50;
  background: rgba(0, 0, 0, 0.5);
}

.sectionSucess {
  text-align: center;

  h3 {
    margin-top: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 80vh;
  width: 100%;

  .textHome {
    line-height: 30px;
  }

  button {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
    .imgIIM {
      width: 800px;
      height: 200px;
    }
}