.navbar {
  z-index: 5;
  max-width: 1920px !important;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  min-height: 75px;
  color: $color-primary;
  border-bottom: 1px solid $color-primary;
  backdrop-filter: blur(20px);
  animation: keyframePage 0.5s both;

  @include media-max(768px) {
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include media-min(768px) {
    backdrop-filter: none;
  }

  div {
    margin-left: clamp(20px, 5vw, 130px);
  }

  .navBox {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-primary;
    border-bottom: none;
    border-top: none;
    padding: 0 5px;

    &:nth-child(2) {
      border-left: none;
    }

    @include media-min(768px) {
      border: none;
      flex-direction: column;
    }

    img {
      max-height: 65px;
      width: auto;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-min(768px) {
        font-size: clamp(2.2rem, 3vw, 3.5rem);
      }
    }

    .logoAB {
      @include media-min(768px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }
  }

  .navListLinks {
    display: flex;
    margin-right: clamp(20px, 5vw, 130px);

    @include media-min(768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      margin: 0;
      bottom: 0;
      width: 0;
      right: -100vw;
      height: 100vh;
      padding: 2rem;
      visibility: hidden;
      background: $color-secondary;

      transition: all 0.5s ease-out;
    }

    .navItem {
      @include media-min(768px) {
        &::after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 3vw;
          height: 1px;
          background: $color-primary;
        }
      }

      .react-bubbly-transitions__bubbly-link {
        min-height: 75px;
        min-width: 100px;
        padding: 0 0.3rem;
        color: inherit;
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 16px;
        color: $color-primary;

        @include media-min(768px) {
          display: block;
          padding: 1rem;
        }
      }
    }
  }

  .navBurger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
    display: none;

    @include media-min(768px) {
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    .burgerBar,
    .burgerBar::before,
    .burgerBar::after {
      content: "";
      position: absolute;
      left: 0;

      @include media-min(768px) {
        display: block;
        width: 40px;
        height: 3px;
        border-radius: 3px;
        background: $color-primary;
        transition: all 0.3s ease;
      }
    }

    .burgerBar {
      &:before {
        transform: translateY(-12px);
      }

      &:after {
        transform: translateY(12px);
      }
    }
  }
}

.showNav {
  .navListLinks {
    @include media-min(768px) {
      right: 0;
      width: 100vw;
      visibility: visible;
    }
  }

  .burgerBar::before {
    transform: rotate(45deg) !important;
  }

  .burgerBar::after {
    transform: rotate(-45deg) !important;
  }

  .burgerBar {
    background: transparent !important;
    width: 0 !important;
  }
}

/***************************************************
 * Generated by SVG Artista on 10/5/2022, 10:00:08 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 0.7s ease-in-out 0.8s both;
          animation: animate-svg-fill-1 0.7s ease-in-out 0.8s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 0.7s ease-in-out 0.9s both;
          animation: animate-svg-fill-2 0.7s ease-in-out 0.9s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 0.7s ease-in-out 1s both;
          animation: animate-svg-fill-3 0.7s ease-in-out 1s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 0.7s ease-in-out 1.1s both;
          animation: animate-svg-fill-4 0.7s ease-in-out 1.1s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-fill-5 0.7s ease-in-out 1.2000000000000002s both;
          animation: animate-svg-fill-5 0.7s ease-in-out 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-fill-6 0.7s ease-in-out 1.3s both;
          animation: animate-svg-fill-6 0.7s ease-in-out 1.3s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-fill-7 0.7s ease-in-out 1.4000000000000001s both;
          animation: animate-svg-fill-7 0.7s ease-in-out 1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-fill-8 0.7s ease-in-out 1.5s both;
          animation: animate-svg-fill-8 0.7s ease-in-out 1.5s both;
}


@keyframes keyframePage {
  0% {
    opacity: 0;
    translate: 0 100%;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}