
h1{
  font-family: $fontRaleway;
  font-weight: 600;
  font-size: clamp(2.5rem, 6vw, 8rem);
  color: $color-primary;
  margin-bottom: 20px;
}

h2{
  font-family: $fontRaleway;
  font-weight: 500;
  font-size: clamp(2.2rem, 3vw, 3.5rem);
  color: $color-primary;
}

h3{
  font-family: $fontRaleway;
  font-weight: 600;
  font-size: clamp(2rem, 3vw, 2.5rem);
  color: $color-primary;
}

h4{
  font-family: $fontRaleway;
  font-weight: 400;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: $color-primary;
}

p{
  font-size: 20px;
  color: $color-primary;
}

a , button{
  font-family: $fontRaleway !important;
  font-weight: 400;
  font-size: 16px !important;
  color: $color-primary;
}
